main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: 5px;
    gap: 5px;
    width: 350px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"]{
    padding: 10px;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #2769ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}