footer {
    background-color: #262626;
    color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0 0;
}