.container {
    background-color: white;
}

.barra-busca {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.barra-busca input {
    padding: 8px;
    border: 2px solid #cbcbcb;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    width: 80%;
}

.barra-busca button {
    background-color: rgba(38, 38, 38, 0.08);
    cursor: pointer;
    padding: 3px;
    border: 2px solid #cbcbcb;
}

.barra-busca button:hover {
    background-color: rgba(38, 38, 38, 0.12);
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.rotulo {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.input-dado {
    padding: 3px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.09);
    border: 2px solid #cbcbcb;
}

.button-enviar {
    background-color: #2BD968;
    color: white;
    width: 150px;
    padding: 10px 8px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.container-msg-erro {
    background-color: rgba(255, 0, 0, 0.63);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.msg-erro {
    color: white;
    font-weight: bold;
}
