@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2F2F2;
}

main {
    margin: 30px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 170px);
}

.button-acao {
    background-color: #2727fd;
    color: white;
    padding: 10px 8px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.button-acao:hover {
    background-color: rgba(30, 30, 255, 0.94);
}